/*
 * GLOBAL
 */
@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/OpenSans.woff2') format('woff2');
}
.mt0 {
  margin-top: 0px !important;
}
.pt0 {
  padding-top: 0px !important;
}
.pl0 {
  padding-left: 0px !important;
}
.testimony-background {
  background-image: url('../images/parallax-people.jpg') !important;
}
.font14 {
  font-size: 14px !important;
}
.pos-static {
  position: static !important;
}
#footer {
  margin-top: 0px;
}